<form action="users/login" method="POST">
<div class="login">
    <h1>Login</h1>
        <input placeholder="Usuario" type="text" name="usernameEmail" required>
        <input placeholder="Contrase単a" type="password" name="contrase単a" required>
    <button type="submit">entrar</button>
    <a id="noRegistrado" href="./register">
    Registrarse</a>
    <a id="recovery" href="./recovery">
    多Olvidaste tu contrase単a?</a>
    <div id="fondoLogin">
    </div>
</div>
</form>