<section>
    <div class="cabeceraUser">
        <input type="file" name="avatar" id="avatar">
        <div id="infoUser">
            <input placeholder="Nombre" type="text">
            <input placeholder="About Me" type="text">
        </div>
    </div>
    <div class="MyList">
        
    </div>
</section>