<form action="users/recovery", method="POST">
<div class="recupera">
    <input placeholder="Introduce tu Email" type="email" name="email">
    <button id="recoveryButton" type="submit"> Enviar</button>
    </div>
    </form>