<form action="/users/resetPass2" method="POST">
    <h1>Introduce la contraseña Nueva</h1>
    <div class="newPass">
        <input placeholder="Contraseña Nueva" type="password" name="password">
        <input placeholder="guardar" type="submit">

    </div>

</form>