<section>
    <div class="seccionCentral">
        <div id="success">
            ¡BIENVENIDO!
        </div>
        <p>Has sido registrado con éxito</p>
    <a href="/"><button class="inicio">
        Volver a inicio
    </button></a> 
    </div>
    
</section>